@import "colors";
@import "fonts";

.new-column-btn {
    padding: 14px;
    border: 1.2px dashed $add-card-btn-border;
    background-color: transparent;
    text-align: left;
    width: 380px;
    height: 60px;
    margin-right: 10px;
    @extend %column-font;

    i {
        font-size: 14px;
        margin-right: 4px;
    }
}

.new-column-btn:hover {
    cursor: pointer;
}
