@import "fonts";
@import "colors";

.new-card-btn {
    padding: 14px;
    border: 1.2px dashed $add-card-btn-border;
    background-color: transparent;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    @extend %add-card-btn-font;

    i {
        font-size: 14px;
        margin-right: 4px;
    }
}

.new-card-btn:hover {
    cursor: pointer;
}
