@import "colors";
@import "fonts";

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    background: $card-box;
    min-height: 90px;
    margin: 10px 0px;
    padding: 10px 16px;
    border-radius: 3px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);

    .card-btn-box {
        position: absolute;

        .card-btn {
            display: none;
            position: absolute;
            cursor: pointer;
            border: none;
            background: $transparent;
            outline: none;
            height: 26px;
            width: 24px;

            i {
                font-size: 12px;
                color: $card-edit-btn;
            }

            i:hover {
                color: darken($card-edit-btn, $amount: 6);
            }
        }

        .card-btn:nth-child(1) {
            transform: translate(200px, -4px);
        }

        .card-btn:nth-child(2) {
            transform: translate(222px, -4px);
        }
    }

    .card-text {
        @extend %card-font;
        min-height: 50px;
    }

    .card-footer {
        display: flex;
        min-height: 32px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .card-extra-box {
            max-width: 50%;
            .card-tag {
                margin-right: 4px;
                font-size: 10px;
                background-color: $card-tag-bg;
                color: $card-tag-text;
                border: none;
                border-radius: 2px;
                outline: none;
            }
            .member-img {
                margin-left: 4px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
    }
}

.card-box:hover {
    cursor: grab;

    .card-btn {
        display: inline-block;
    }
}

.card-box:active {
    cursor: grabbing;

    .card-btn {
        display: none;
    }
    .card-btn-box:active .card-btn {
        display: inline-block;
    }
}
