@import "colors";
@import "fonts";

.new-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $column-header;
    vertical-align: middle;
    height: 50px;
    width: 300px;
    margin-right: 10px;

    .new-column-title-box {
        margin-left: 12px;
        width: 100%;
        @extend %column-font;

        .new-column-title {
            padding: 0px;
            width: 100%;
            background-color: $transparent;
            border: none;
            outline: none;
            resize: none;
            overflow: visible;
            @extend %column-font;
        }

        .new-column-title::placeholder {
            color: $rename-column-placeholder;
        }
    }

    .rename-column-btn {
        cursor: pointer;
        border: none;
        background: $column-header;
        outline: none;
        height: 25px;
        width: 25px;
        margin-right: 4px;

        .confirm:hover {
            cursor: pointer;
            color: darken($column-button, $amount: 4);
        }

        .cancel {
            margin-right: 20px;
        }

        .cancel:hover {
            cursor: pointer;
            color: darken($column-button, $amount: 4);
        }

        i {
            font-size: 16px;
            color: $column-button;
        }
    }
}
